* {
  box-sizing: border-box;
  /* border: 1px solid white;*/
}
html {
  border: none;
}
body {
  /*scroll-behavior: smooth;
  overflow: hidden;*/
  background-color: #202020;
  border: none;
}
a {
  text-decoration: none;
}
.container {
  height: 250px;
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
figure img {
  width: 1/4;
  height: 150px;
  transform: scale(1);
  transition: transform 0.5s;
}
figure img:hover {
  transform: scale(1.2);
}

figure img:not(img:hover) {
  filter: grayscale(0.8);
}
.cont {
  height: 200px;
  overflow-y: scroll;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}
figcaption {
  visibility: hidden;
}
/*FOR NAV*/
.navigator {
  width: 500px;
  height: 35px;
  position: relative;
  top: -200px;
  border-bottom: 1px solid black;
}
nav {
  background-color: azure;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  cursor: pointer;
  border-radius: 70%;
}
a {
  list-style-type: none;
}
a:hover {
  background-color: rgb(33, 33, 33);
  color: black;
}
a:visited,
:active {
  color: black;
}
.sun {
  border-left: 1px solid black;
}
#city {
  transform: translate(0px, -150px) scaleY(0);
  opacity: 0;
  transition: 1s;
}
/*#city:not(:target) {
  transform: translate(0px, -210px);
  opacity: 0;
}*/
#city:target {
  transform: translate(0px, 0px) scaleY(1);
  opacity: 1;
}
/*stream image*/
.min-left-img {
  width: 1/2;
  height: 15em;
  position: absolute;
  top: -16em;
  left: 25em;
  opacity: 0;
  transform: scale(1);
  transition: 0.2s;
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.685);
}
.min-right-img {
  width: 9em;
  height: 8em;
  filter: grayscale(0.7);
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.7);
}
.image-containor {
  width: 85em;
  height: 20em;
  position: relative;
  top: 8em;
  left: 5em;
  background-image: url(./images/g.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 10px 1px gray;
  border-radius: 25px;
}
.two2,
.four4 {
  margin: 0.9em 0;
}
.left-image::before {
  content: "VINTAGE CARS";
  position: relative;
  top: -7.5em;
  left: 29em;
  width: 30px;
  height: 30px;
  font-size: 19px;
  font-weight: bold;
}
.left-image {
  width: 55em;
  height: 20em;
  position: relative;
  top: -1.3em;
  left: -79em;
  /*animation: car 1s linear;
  animation-fill-mode: both;*/
}

/*.left-image img:nth-child(1) {
  animation-delay: 0.5s;
}
.left-image img:nth-child(2) {
  animation-delay: 1.5s;
}
.left-image img:nth-child(3) {
  animation-delay: 2s;
}
.left-image img:nth-child(4) {
  animation-delay: 2.5s;
}*/
.right-image {
  width: 20em;
  height: 20em;
  position: relative;
  left: 60em;
  top: 1.1em;
  display: inline-block;
  column-count: 2;
  padding-left: 0.3em;
  padding-top: 0.35em;
}
.one1:hover ~ .left-image > .one {
  transform: scale(1.2);
  opacity: 1;
}
.two2:hover ~ .left-image > .two {
  transform: scale(1.2);
  opacity: 1;
}
.three3:hover ~ .left-image > .three {
  transform: scale(1.2);
  opacity: 1;
}
.four4:hover ~ .left-image > .four {
  transform: scale(1.2);
  opacity: 1;
}
.space {
  content: "";
  position: relative;
  top: 10em;
  height: 20em;
  width: 10em;
}
.one {
  animation: car 1s infinite;
  animation-delay: 0s;
}
/*.two {
  animation: car 1s infinite;
  animation-delay: 1s;
}
.three {
  animation: car 1s infinite;
  animation-delay: 2s;
}
.four {
  animation: car 1s infinite;
  animation-delay: 3s;
}
@keyframes car {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/
