* {
  box-sizing: border-box;
}
body {
  margin: 0 !important;
  font-family: sans-serif;
}
.container {
  background-color: var(--body-background);
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
} /*sidebar*/
.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 5em;
  height: 100%;
  border-right: 1px solid var(--border-color);
}
@media (max-width: 635px) {
  .sidebar {
    display: none;
  }
}
.logo-container {
  width: 2.3em;
  height: 3em;
  color: var(--text-blue);
  margin: 1.2em;
}
.nav-container {
  width: 5em;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-item {
  width: 3.5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.2em;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--text-gary);
}
.h-5 {
  width: 1.6em;
  height: 1.6em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.bg {
  background-color: var(--bg-gray);
  color: var(--color);
}
.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
} /*top menu container*/
.top-menu-container {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-left: 3em;
  padding-right: 3em;
}
@media (max-width: 1032px) {
  .top-menu-container {
    display: none;
  }
}
.top-menu-items {
  height: 100%;
  display: flex;
  align-items: center;
}
.top-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-gray2);
  font-family: inherit;
  font-size: 13.7px;
  margin-right: 1.9em;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.left-top-menu {
  height: 100%;
  width: 14.5em;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1em;
}
.w-4 {
  width: 1.6em;
  height: 1.6em;
  margin-bottom: 1em;
  margin-top: 1em;
}
img {
  position: relative;
  top: 0.5em;
  width: 2.3em;
  height: 2.2em;
  border-radius: 100px;
}
.deposite-profile {
  height: 100%;
  width: 20em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
  background-color: var(--body);
  border: none;
  color: var(--color);
  cursor: pointer;
  margin-top: 0.1em;
}
.deposite-button {
  height: 100%;
  width: 9em;
  background-color: var(--text-blue);
  border: none;
  border-radius: 6px;
  color: var(--color);
  cursor: pointer;
}
.deposite-name {
  font-size: 13px;
  margin-left: 1em;
}
.dot {
  position: relative;
  display: flex;
  top: -0.4em;
  right: -1.7em;
  width: 0.8em;
  height: 0.8em;
  background: green;
  border-radius: 50px;
  border: 2px solid var(--border-color-dot);
}
/*left content*/
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.left-content {
  width: 18.7em;
  height: 100%;
  display: block;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  padding: 1.25em;
  color: var(--text-gray2);
}
@media (max-width: 1377px) {
  .left-content {
    width: 13em;
  }
}
@media (max-width: 1032px) {
  .left-content {
    display: none;
  }
}
.user {
  font-size: 12px;
  letter-spacing: 0.03em;
}
.search-box {
  margin-top: 0.8em;
  height: 2.5em;
  width: 100%;
}
.search {
  border-radius: 7px;
  background: transparent;
  color: var(--text-gray2);
  border: 1px solid var(--search-border);
  width: calc(100% - 3em);
  height: 2.3em;
  padding-left: 2.5em;
  letter-spacing: 0.03em;
}
.search-svg {
  width: 1.1em;
  position: relative;
  top: 0.2em;
  left: -13.4em;
}
@media (max-width: 1377px) {
  .search-svg {
    position: relative;
    left: -7.7em;
  }
}
.w-5 {
  width: 1.1em;
  position: relative;
  top: -1.7em;
  left: 0.58em;
}
.left-button-container {
  margin-top: 0.4em;
}
button:focus {
  outline: 1px dotted var(--color);
}
.left-content-button {
  width: 100%;
  height: 6.8em;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: var(--left-content-button);
  border: none;
  margin-top: 1em;
  padding: 1em;
  cursor: pointer;
}
.left-content-button:nth-of-type(2) {
  border: 2px solid var(--text-blue);
}
.left-content-button:nth-of-type(2):focus {
  outline: none;
}
.left-content-button:nth-of-type(1) {
  margin-top: 0;
}
.top-part {
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--search-border);
  padding-bottom: 1.5em;
  padding-top: 1em;
  margin-bottom: 0.9em;
  color: var(--color);
  letter-spacing: 0.03em;
  vertical-align: baseline;
  font-weight: 5500;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.top-part > img {
  height: 2.1em;
  margin-right: 0.6em;
  margin-bottom: 1.1em;
}
.bottom-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.doller {
  margin-left: auto;
  color: var(--doller);
  font-size: 12px;
}
.zero {
  color: var(--text-gray2);
}
.doller-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6em;
  background-color: var(--description-background);
  border-radius: 5px;
  font-size: 12px;
}
.design {
  width: 4.3em;
  color: var(--design-blue);
}
.sales {
  width: 3.3em;
  color: var(--sales-green);
}
.marketing {
  width: 5.7em;
  color: var(--marketing-yellow);
}
/*right content*/
.right-content {
  width: calc(100% - 19em);
  height: 100%;
  overflow-y: auto;
  display: block;
  flex-direction: column;
  flex-grow: 1;
}
.sticky-part {
  width: 100%;
  height: 8.2em;
  background-color: var(--body-background);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-top: 1.1em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  z-index: 1;
}
.sticky-top-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sticky-img-left {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: var(--color);
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
  font-weight: 400;
}
.sticky-img-left > img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
  margin-bottom: 0.8em;
}
.sticky-top-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.sticky-balance {
  display: flex;
  flex-direction: column;
  align-items: end;
  letter-spacing: 0px;
}
.account-balance {
  font-size: 12.2px;
  font-family: isystem-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
  color: var(--text-gray2);
}
.balance-doller {
  font-size: 18.5px;
  color: var(--color);
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.sticky-buttom {
  width: 2.4em;
  height: 2.4em;
  background-color: transparent;
  color: var(--text-gray2);
  border: 1px solid var(--search-border);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-top: 0.3em;
  cursor: pointer;
}
.three-dot {
  font-size: 10px;
}
.sticky-menu {
  margin-top: 0.6em;
  display: flex;
  flex-direction: row;
}
.sticky-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-gray2);
  font-family: inherit;
  font-size: 13.7px;
  margin-right: 1.9em;
  cursor: pointer;
  letter-spacing: 0.01em;
  padding: 0.5em;
}
.select-tmi {
  color: var(--color);
  border-bottom: 2.2px solid var(--color);
}
/*table part*/
.table-part {
  padding: 1.75em;
}
.table-buttons-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.6em;
}
.table-buttons-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.days-button-table {
  width: 11em;
  height: 2.4em;
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.7em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--text-gray2);
  letter-spacing: 0.01em;
  cursor: pointer;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.days-right {
  margin-right: 0.8em;
  width: 1.3em;
  stroke: var(--search-border);
}
.days-left {
  margin-left: 0.8em;
  width: 1.2em;
  stroke: var(--search-border);
}
.filter-button-table {
  width: 7.5em;
  height: 2.4em;
  display: flex;
  align-items: center;
  padding: 1em;
  padding-right: 0px;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 1em;
  border: 1px solid var(--border-color);
  color: var(--text-gray2);
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.filter {
  margin-left: 0.8em;
  width: 1.2em;
  stroke: var(--search-border);
}
.right-button-table {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.page-number-text {
  font-size: 13px;
  display: flex;
  align-items: center;
  color: var(--text-gary);
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.page-number-backbutton {
  width: 2.4em;
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 1em;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.page-number-undobutton {
  width: 2.4em;
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 0.7em;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.page-back {
  width: 1.2em;
  stroke: var(--text-gray2);
}
.page-undo {
  width: 1.2em;
  stroke: var(--text-gray2);
}
.table {
  width: 100%;
  text-align: left;
  line-height: 1.25em;
  border-collapse: collapse;
}
.head-row {
  color: var(--text-gray2);
  font-size: 14px;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
}
.head-text {
  font-weight: 400;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}
.table-body {
  color: var(--tbody-color);
}
.td {
  font-size: 14px;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
  font-weight: 400;
  padding: 0.75em;
  border-bottom: 1px solid var(--border-color);
}
.col1-type {
  display: flex;
  align-items: center;
}
.col1-svg {
  width: 1.1em;
  margin-right: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}
.yellow {
  stroke: var(--yellow);
}
.col2-where {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col2-svg {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 28px;
  padding: 0.4em;
  margin-right: 0.6em;
}
.red {
  color: var(--text-red);
}
.col5-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: column;
}
.time {
  font-size: 0.85em;
  color: var(--three-dot-table);
}
.dot-table-button {
  width: 2.4em;
  height: 2.4em;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.three-dot-svg {
  width: 1.5em;
  stroke: var(--three-dot-table);
}
.img-table {
  width: 25px;
  height: 25px;
  margin-right: 0.6em;
  margin-bottom: 0.9em;
}
.green {
  color: var(--green);
  stroke: var(--green);
}
.table-buttons-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 1em;
  margin-bottom: 2.5em;
}
.left-bottom-button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--left-content-button);
  color: var(--text-gray2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}
.select-button2 {
  background-color: var(--left-content-button);
  color: var(--color);
}
.description {
  display: table-cell;
}
@media (max-width: 730px) {
  .description {
    display: none;
  }
}
@media (max-width: 635px) {
  .none-635 {
    display: none;
  }
}
